.card-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 60px;
  flex: 1 1 200px;
  min-width: 200px;
}

.card-value {
  font-size: 24px;
  font-weight: 700;
  margin: 0px;
}

.card-text {
  position: relative;
  top: -20px;
}

@media (width < 768px) {
  .card-container {
    width: 90%;
    max-height: 60px;
  }
}
