.caretaker-container {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Segoe UI", sans-serif;
  color: #333;
  background-color: rgb(236, 236, 236);
}

.dashboard-header-caretaker {
  background: linear-gradient(120deg, #2cbb7f, #4483e0);
  padding: 20px;
  border-radius: 20px;
}

.user-caretaker {
  padding: 15px;
  background-color: #36cf8f;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  color: white;
  margin: 10px;
}

.dashboard-header-caretaker div {
  display: flex;
  color: white;
  margin-bottom: 20px;
}

.dashboard-header-caretaker span {
  min-width: 50%;
}

.dashboard-header-caretaker h2 {
  margin: 0px;
  font-size: 28px;
  margin-bottom: 5px;
}

.dashboard-header-caretaker p {
  font-size: 16px;
  margin: 0px;
}

.routes-navbar-caretaker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 18px;
  border-radius: 8px;
  margin: 10px;
  flex-wrap: wrap;
  background-color: rgb(226, 219, 219);
}

.routes-navbar-caretaker a {
  text-decoration: none;
  color: #888686;
  font-weight: 500;
  transition: color 0.2s ease;
  font-size: 14px;
}

.routes-navbar-caretaker a:hover {
  color: #007bff;
}

.active-link {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  color: black !important;
}
