.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 2%;
  background-color: aliceblue;
}
.heart-onboard {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: linear-gradient(120deg, #102abe, #4cc090);
  padding: 20px;
  color: white;
}

.welcome-onboard {
  font-size: 34px;
  text-align: center;
  font-weight: 700;
  margin-bottom: -15px;
}

.moto-onboard {
  font-size: 20px;
  color: rgb(97, 95, 95);
  max-width: 50%;
  text-align: center;
}

.alert-onboard {
  color: rgb(107, 103, 103);
  font-size: 14px;
}

/* ------patient and caretaker cards on onbord dashboard------- */

.patient-carretaker-onboard {
  display: flex;
  gap: 30px;
  margin: 20px;
  align-items: center;
}

.patient-onboard,
.caretaker-onboard {
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  border: 2px solid rgb(228, 228, 228);
  min-width: 30vw;
  text-align: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: white;
}

.patient-onboard:hover {
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.25);
  border: 2px solid rgb(153, 153, 253);
}

.caretaker-onboard:hover {
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.25);
  border: 2px solid rgb(148, 238, 148);
}

.pateint-user,
.caretaker-user {
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.pateint-user {
  background-color: rgb(199, 198, 250);
  color: rgb(31, 34, 233);
}

.caretaker-user {
  background-color: #c3f8ca;
  color: #036e11;
}

.impatient-onboard {
  font-size: 22px;
  font-weight: 500;
  color: rgb(31, 34, 233);
}

.patient-onboard:hover .pateint-user {
  background-color: rgb(165, 164, 252);
}

.caretaker-onboard:hover .caretaker-user {
  background-color: #9df7a9;
}

.imCaretaker-onboard {
  font-size: 22px;
  font-weight: 500;
  color: #036e11;
}

.tacker-onboard {
  color: rgb(126, 122, 122);
  text-align: center;
}

.patient-ul,
.caretaker-ul {
  text-align: left;
  color: rgb(134, 132, 132);
}

.patient-ul li::marker {
  color: rgb(101, 101, 233);
  font-size: 22px;
}
.caretaker-ul li::marker {
  color: rgb(128, 248, 128);
  font-size: 22px;
}

/* bottons */

.patient-bnt-onboard,
.caretaker-bnt-onboard {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.patient-bnt-onboard {
  background-color: rgb(62, 64, 197);
}

.caretaker-bnt-onboard {
  background-color: #1e972f;
}

.navbar {
  padding: 20px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
/* logo */

.logo {
  padding: 10px;
  width: 20px;
  height: 25px;
  background: linear-gradient(120deg, #102abe, #4cc090);
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin-right: 10px;
}

.logo-div {
  display: flex;
}

.logo-div .p {
  color: rgb(128, 121, 121);
  position: relative;
  top: -35px;
}

.brand-name {
  font-size: 18px;
  font-weight: 700;
  position: relative;
  top: -15px;
}

/* toogel botton */
.toggel-btn {
  padding: 10px;
  border: 1px solid rgb(223, 219, 219);
  background-color: white;
  border-radius: 5px;
  text-align: center;
  width: 200px;
}

span {
  width: 200px;
}
/* media query for mobile devices */
@media (width< 768px) {
  .moto-onboard {
    max-width: 90%;
  }

  .patient-carretaker-onboard {
    flex-direction: column;
    gap: 20px;
    margin: 20px auto;
    width: 90%;
  }

  .patient-onboard,
  .caretaker-onboard {
    width: 90%;
  }

  .navbar {
    height: 60px;
  }
}
