.container-patient {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Segoe UI", sans-serif;
  color: #333;
  background-color: rgb(236, 236, 236);
}

.dashboard-header {
  background: linear-gradient(120deg, #4483e0, #2cbb7f);
  padding: 20px;
  border-radius: 20px;
}

.user-patient {
  padding: 15px;
  background-color: #6d99db;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  color: white;
  margin: 10px;
}

.dashboard-header div {
  display: flex;
  color: white;
  margin-bottom: 20px;
}

.dashboard-header span {
  min-width: 50%;
}

.dashboard-header h2 {
  margin: 0px;
  font-size: 28px;
  margin-bottom: 5px;
}

.dashboard-header p {
  font-size: 16px;
  margin: 0px;
}

.patient-card {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* space between cards */
  justify-content: center;
  width: 100%;
}

.medication-container-patient {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.calender-patient {
  color: rgb(75, 75, 197);
  margin-right: 10px;
}

.medication-tracker-patient {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 60%;
  border: 1px solid rgb(216, 213, 213);
}

/* .medication-tracker-patient div {
  font-size: 24px;
} */

.calender-container-patient {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 30%;
  border: 1px solid rgb(216, 213, 213);
}

/* ---------------- */

.stats-box {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 15px;
  background-color: #f7f9fc;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.stat {
  text-align: center;
  flex: 1;
}

.stat:not(:last-child) {
  border-right: 1px solid #ddd;
}

.stat h4 {
  margin-bottom: 5px;
  font-size: 16px;
}

.section {
  margin-top: 30px;
}

.section h3 {
  font-size: 20px;
  margin-bottom: 10px;
  border-left: 4px solid #3f51b5;
  padding-left: 10px;
  color: #3f51b5;
}

.calendar-placeholder {
  padding: 40px;
  text-align: center;
  border: 2px dashed #ccc;
  color: #aaa;
  border-radius: 8px;
  background-color: #fafafa;
}

.taken-day {
  background-color: #c3f1c3 !important;
  border: none;
  margin: 2px;
}

.missed-day {
  background-color: #f9d2d2 !important;
  border: none;
  margin: 2px;
}

.today-day {
  border: 2px solid #4a90e2 !important;
  border: none;
}

/* Responsive */
@media (width < 768px) {
  .patient-card {
    display: flex;
    flex-direction: column;
  }

  .medication-container-patient {
    display: felx;
    flex-direction: column;
  }

  .medication-tracker-patient {
    width: 80%;
  }

  .calender-container-patient {
    width: 80%;
  }
}
